:root{
    /* Typefaces */
    --typeface-title:"Parabole Display";
    --typeface-body:"Antique Legacy";

    /* Font Sizes */
    --font-h1-size:4.125em;
    --font-h2-size:4.75em;
    --font-medium-size:1.5em;
    --font-small-size: 0.95em;
    
    /* Font Padding */

    --yellow:#FFC852;
    --white:#FFFFFF;
    --green:#00C46D;
    --blue:#0064FF;
    --black:#000000;

    --textclr:var(--white);
}

@font-face {

    font-family: "Antique Legacy";
    src: url(../fonts/Antique-Legacy-Light.otf) format("opentype");
    src: url(../fonts/Antique-Legacy-Light.woff2) format("woff2"),
         url(../fonts/Antique-Legacy-Light.woff) format("woff");
    font-weight: 300;
    font-style: normal;
}
@font-face {

    font-family: "Antique Legacy";
    src: url(../fonts/Antique-Legacy-Light-Italic.otf) format("opentype");
    src: url(../fonts/Antique-Legacy-Light-Italic.woff2) format("woff2"),
         url(../fonts/Antique-Legacy-Light-Italic.woff) format("woff");
    font-weight: 300;
    font-style: italic;
}

@font-face {

    font-family: "Parabole Display";
    src: url(../fonts/parabole-displayregular.otf) format("opentype");
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: var(--black);
    color: var(--textclr);
    font-family: var(--typeface-body);
}

h1 {
    font-size: var(--font-h1-size);
    font-family: var(--typeface-title);
    margin: calc(1/4)em;
    text-transform: uppercase;
}

h2 {
    font-size: var(--font-h2-size);
}

h3{
    font-size: var(--font-medium-size);
    color: var(--yellow);
    font-weight: lighter;
}

p {
    font-size: var(--font-medium-size);
}

/* Font Classes */
.font {
    font-family: "Parabole Display";
    color: var(--yellow);
}

.smalltext p, .smalltext {
    font-size: var(--font-small-size);
}

/* quote paragraph */
.quote::before {
    content:"“";
    font-size: var(--font-h1-size);
    font-family: var(--typeface-title);
    color: var(--yellow);    
    line-height: 0em;
    vertical-align: bottom;
}

.quote{
    padding-top: 1em;
    @media screen and (min-width:640px) {
        display: flex;
        padding: 0em 1em;
    }
}

.quote :last-child{
    font-size: var(--font-small-size);
}